apiVersion: apps/v1
kind:       Deployment
metadata:
  name: dictionary-v2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dictionary
      rev: v2
  template:
    metadata:
      labels:
        app: dictionary
        rev: v2
    spec:
      containers:
      - name:            dictionary
        image:           k8sland/go-dictionary-svc:0.0.1
        imagePullPolicy: IfNotPresent
        args:            ['/app/dictionary', '-d', 'trick_or_treat.txt']
        resources:
          requests:
            cpu:    100m
            memory: 4Mi
          limits:
            cpu:    200m
            memory: 8Mi
        ports:
        - name:          http
          containerPort: 4000